@model MyViewModel
@{ 
    Layout = null;
}

<!Doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index (MyView)</title>
</head>
<body>
    <p>
        @Model.Message World (from MyView)
    </p>
    <p>
        Time is @Model.CreationTime
    </p>
</body>
</html>